<div class="container h-100 recette-list-marge">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <p-button
          icon="pi pi-arrow-left"
          styleClass="p-button-outlined p-button-secondary p-button"
          (click)="back()"
        ></p-button>
      </div>
      <div class="col-6">
        <h3 class="d-flex justify-content-center">Mes Objectifs</h3>
      </div>
      <div class="col-3">
        <p-button
          icon="pi pi-plus"
          styleClass="p-button-outlined p-button-success p-button"
          type="button"
          data-toggle="modal"
          data-target="#exampleModal"
        ></p-button>
      </div>
    </div>
  </div>
  <div
    class="container"
    *ngIf="objectifList.length == 0; else showObjectifList"
  >
    <div class="row mt-5 justify-content-center align-items-center">
      <div class="col-12 text-center">
        <img src="../../assets/img/no-data.png" alt="" />
      </div>

      <p>Vous n'avez pas encore saisie un Objectif</p>
    </div>
  </div>
  <ng-template #showObjectifList>
    <div class="container mb-5 mt-5 fade-in">
      <div class="row justify-content-center align-items-center">
        <div
          class="col-3"
          *ngFor="let objectif of objectifList"
          style="margin-right: 2em"
        >
          <div class="card-hendi" style="width: 18rem">
            <img
              class="card-img-top"
              src="../../assets/img/blog/blog-2.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Titre: {{ objectif.title }}</h5>
              <h5 class="card-title">
                Poid de depart: {{ objectif.poidDepart }}
              </h5>
              <h5 class="card-title">Poid Actuel: {{ objectif.poidActuel }}</h5>
              <h5 class="card-title">Taille: {{ objectif.taille }}</h5>
              <h5 class="card-title">
                Poid Objectif: {{ objectif.objectifPoid }}
              </h5>
              <button
                pButton
                pRipple
                icon="pi pi-eye"
                class="p-button-rounded p-button-outlined mr-1"
                (click)="checkDetails(objectif.id)"
              ></button>

              <button
                pButton
                pRipple
                icon="pi pi-pencil"
                class="p-button-rounded p-button-outlined p-button-success mr-1"
                data-toggle="modal"
                data-target="#exampleModal1"
                (click)="onShowEditObjectif(objectif.id)"
              ></button>

              <button
                pButton
                pRipple
                icon="pi pi-trash"
                class="p-button-rounded p-button-outlined p-button-danger"
                (click)="deleteObjectif(objectif.id)"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<div class="container mb-5">
  <div class="row justify-content-center align-items-center mt-1">
    <div class="row justify-content-end align-items-end">
      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <form
            class="approval-form"
            [formGroup]="objectifForm"
            (ngSubmit)="onSubmit()"
          >
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  Ajouter Objectif
                </h5>
                <button
                  #closeModal
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col">
                    <label>
                      Titre :
                      <input
                        type="text"
                        class="form-control"
                        formControlName="title"
                      />
                    </label>
                  </div>
                  <div class="col">
                    <label>
                      Poid de Depart :
                      <input
                        type="number"
                        class="form-control"
                        formControlName="poidDepart"
                      />
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label>
                      Poid Actuel :
                      <input
                        type="number"
                        class="form-control"
                        formControlName="poidActuel"
                      />
                    </label>
                  </div>
                  <div class="col">
                    <label>
                      Taille :
                      <input
                        type="number"
                        class="form-control"
                        formControlName="taille"
                      />
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label>
                      Objectif Poid :
                      <input
                        type="number"
                        class="form-control"
                        formControlName="objectifPoid"
                      />
                    </label>
                  </div>
                  <div class="col">
                    <label>
                      Type Activite :
                      <input
                        type="number"
                        class="form-control"
                        formControlName="typeActivite"
                      />
                    </label>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <p-button
                  [disabled]="!objectifForm.valid"
                  icon="pi pi-check"
                  styleClass="p-button-rounded p-button-success p-button-text p-button-raised"
                  type="submit"
                ></p-button>

                <p-button
                  icon="pi pi-times"
                  styleClass="p-button-rounded p-button-danger  p-button-text p-button-raised"
                  (click)="onCancelAddObjectif()"
                ></p-button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="exampleModal1"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel1"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel1">
            Modidifer Objectif <br />
          </h5>
          <button
            #closeModalEditObjectif
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <label>
                Titre :
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="subjectForUpdateObjectif.title"
                />
              </label>
            </div>
            <div class="col">
              <label>
                Poid de Depart :
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="subjectForUpdateObjectif.poidDepart"
                />
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label>
                Poid Actuel :
                <input
                  type="number"
                  class="form-control"
                  [(ngModel)]="subjectForUpdateObjectif.poidActuel"
                />
              </label>
            </div>
            <div class="col">
              <label>
                Taille :
                <input
                  type="number"
                  class="form-control"
                  [(ngModel)]="subjectForUpdateObjectif.taille"
                />
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label>
                Objectif Poid :
                <input
                  type="number"
                  class="form-control"
                  [(ngModel)]="subjectForUpdateObjectif.objectifPoid"
                />
              </label>
            </div>
            <div class="col">
              <label>
                Type Activite :
                <input
                  type="number"
                  class="form-control"
                  [(ngModel)]="subjectForUpdateObjectif.typeActivite"
                />
              </label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <p-button
            icon="pi pi-check"
            styleClass="p-button-rounded p-button-success p-button-text p-button-raised"
            type="submit"
            (click)="editObjectif()"
          ></p-button>

          <p-button
            icon="pi pi-times"
            styleClass="p-button-rounded p-button-danger  p-button-text p-button-raised"
            (click)="onCancelEditObjectif()"
          ></p-button>
        </div>
      </div>
    </div>
  </div>
</div>
