<div *ngIf="!passwordReset">
  <h2>Reset Password</h2>
  <form (ngSubmit)="onSubmit()" #resetForm="ngForm" novalidate>
    <div class="form-group">
      <label for="phone">Phone Number</label>
      <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="user.phone" required>
      <div *ngIf="resetForm.submitted " class="error-message error">
        Phone number is required.
      </div>
    </div>
    <div class="form-group">
      <label for="code">Verification Code</label>
      <input type="text" class="form-control" id="code" name="code" [(ngModel)]="code" required>
      <div *ngIf="resetForm.submitted " class="error-message error">
        Verification code is required.
      </div>
    </div>
    <div class="form-group">
      <label for="newPassword">New Password</label>
      <input type="password" class="form-control" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required>
        New password is required.
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!resetForm.form.valid" (click)="onSubmit()">Reset Password</button>
  </form>
  <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
</div>
<div *ngIf="passwordReset">
  <h2>Password Reset</h2>
  <p>Your password has been reset.</p>
</div>
