<div class="row mb-3 text-end">
  <button type="submit" class="primary-btn" (click)="add()">Ajouter</button>
</div>
<div class="row" *ngIf="recetteList.length == 0; else showRecetteList">
  <p>Vous n'avez pas encore saisie une Recette</p>
</div>
<ng-template #showRecetteList>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6" *ngFor="let recette of recetteList">
      <div class="blog__item">
        <div class="blog__item__pic">
          <img src="../../assets/img/blog/blog-2.jpg" alt="" />
        </div>
        <div class="blog__item__text">
          <ul>
            <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
            <li><i class="fa fa-comment-o"></i> 5</li>
          </ul>
          <h5>
            <a href="#">{{ recette.id }}</a>
          </h5>
          <p>
            {{ recette.nom }}
          </p>
          <a
            class="blog__btn"
            (click)="checkDetails(recette.id)"
            style="cursor: pointer"
            >Voir plus <span class="arrow_right"></span
          ></a>
          <a class="blog__btn ml-2"
          (click)="edit(recette.id)"
          style="cursor: pointer"

            >editer <span class="icon_pencil-edit"></span
          ></a>
          <a class="blog__btn ml-2"
          (click)="delete(recette.id)"
          style="cursor: pointer"

            >supprimer <span class="icon_trash"></span
          ></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="product__pagination blog__pagination">
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#"><i class="fa fa-long-arrow-right"></i></a>
    </div>
  </div>
</ng-template>
