<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">


<div class="container">
    <!---------- left-sidebar ------>
    <div class="left-sidebar">
        <div class="imp-links">
            <a href="#"><i class='fas fa-newspaper'></i>News</a>
            <a href="#"><i class='fas fa-user-friends'></i>friends</a>
            <a href="#"><i class='fa fa-group'></i>group</a>
            <a href="#"><i class='fa fa-handshake-o'></i>Marketplace</a>
            <a href="#"><i class='fas fa-video'></i>watch</a>
            <a href="#">See More</a>
        </div>
        <div class="shortcut-links">
            <p>Your Shortcuts</p>
            <a href="#"></a>
        </div>
    </div>




    <!---------- main-content ------>
    <div class="main-content">

        <div class="write-post-container">
            <div class="user-profil">
                <img src="assets/images/profile-pic.png">
                <div>
                    <p>Eya Mastour</p>
                    <small>Public</small>
                </div>
            </div>
            <div class="post-input-container">
                <textarea rows="3" placeholder="What's on your mind?"></textarea>
                <div class="add-post-links">
                    <a href=""><img src="assets/images/live-video.png">Live Video</a>
                    <a href=""><img src="assets/images/photo.png">Photo / Video</a>
                    <a href=""><img src="assets/images/feeling.png">Feeling/Activity</a>
                </div>
            </div>
        </div>
        <div class="post-container"
            *ngFor="let post of posts.slice((currentPage-1)*postsPerPage, currentPage*postsPerPage)">
            <div class="post-row">
                <div class="user-profil">
                    <img src="assets/images/profile-pic.png">
                    <div>
                        <p>Eya Mastour</p>
                        <span>{{post.addedDate}}</span>
                    </div>
                </div>
                <div class="icons">
                    <a href=""><button (click)="deletePost(post)"><i class="fa fa-trash"
                                style="color: red;"></i></button></a>
                    <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true" style="color: blue;"></i></a>
                    <a href="#"><i class="fas fa-ellipsis-v"></i></a>
                </div>
            </div>
            <p class="post-text"> {{post.content}}
                <a href="#"></a> <a href="#"></a>
            </p>
            <img [src]="postImageURL(post.imageData)" class="post-img" />
            <div class="post-row">
                <div class="activity-icons">
                    <div><img src="assets/images/like.png">120</div>
                    <div><img src="assets/images/comments.png">50</div>
                    <div><img src="assets/images/share.png">20</div>

                </div>

                <div class="post-profile-icon">
                    <img src="assets/images/profile-pic.png">

                </div>
            </div>
        </div>
        <div class="pagination-buttons">
            <button (click)="previousPage()" [disabled]="currentPage == 1">Previous</button>
            <button (click)="nextPage()" [disabled]="(currentPage * postsPerPage) >= posts.length">Next</button>
        </div>
    </div>






    <!---------- right-sidebar ------>
    <div class="right-sidebar"></div>

</div>


</html>