<div class="overlay">
  <form (ngSubmit)="formSubmitted = true; login()">
    <div class="con">
      <header class="head-form">
        <h2>Log In</h2>
        <p>login here using your username and password</p>
      </header>
      <br>
      <div class="field-set">
        <div class="input_group">
          <input class="form-input" id="txt-input" type="text" placeholder="Username" required
            [(ngModel)]="username" name="username" #usernameInput="ngModel">
          <div *ngIf="formSubmitted && usernameInput.invalid" class="error-message error">
            Username is required.
          </div>
          <br>
        </div>
        <div class="input_group">
          <input class="form-input" type="password" placeholder="Password" id="pwd" name="password" required
            [(ngModel)]="password" name="password" #passwordInput="ngModel">
          <div *ngIf="formSubmitted && passwordInput.invalid" class="error-message error">
            Password is required.
          </div>
          <br>
        </div>
        <button type="submit" class="log-in">Log In</button>
      </div>
      <div class="other">
        <button class="btn submits frgt-pass" (click)="goToForgot()">Forgot Password</button>
        <button class="btn submits sign-up" (click)="goToRegistration()">Sign Up
          <i class="fa fa-user-plus" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </form>
</div>
