

<!--Main Content-->
    <div class="mt-5">
        <h1 class="text-center">View Livraisons</h1>
        <div class="container">
          <div class="col-lg-3">
            <div class="hero__categories">
                <div class="hero__categories__all">
                    <i class="fa fa-bars"></i>
                    <span>All departments</span>
                </div>
                <ul>
                  <li><a href="#" routerLink="/repas/restaurant">Restaurant</a></li>
                  <li><a href="#" routerLink="/dash">User</a></li>
                  <li><a href="#" routerLink="/produit/fournisseur">Fournisseur</a></li>
                  <li><a href="#" routerLink="livraisons">Livraison</a></li>
              
                </ul>
            </div>
        </div>
            <!--Add livraison Button-->
            <div class="my-3">
                <a href="/addlivraison"><button type="button" class="btn btn-primary">Add livraison</button></a>
            </div>
            <table class="table border" >
                <thead>
                  <tr>
                   
                    <th>adresse</th>
                    <th>etat</th>
                    <th>deliveryTimeSlot</th>
                    <th>collectionPoint</th>
                    <th></th>
                 
                  </tr>
                </thead>
                <tbody>
                 
                 
                      <tr *ngFor="let livraison of Livraisons">
                    <td>{{livraison.adresse}}</td>
                    <td>{{livraison.etat}}</td>
                    <td>{{livraison.deliveryTimeSlot}}</td>
                    <td>{{livraison.collectionPoint}}</td>
                  
                    <td>
                        <div class="d-inline mx-2">
                            <button class="btn btn-warning" (click)="updateLivraison(livraison.id)" type="button">Update</button>
                        </div>
                        <div class="d-inline">
                          <button class="btn btn-danger" (click)="deletelivraison(livraison.id)" type="button">Delete</button>
                        </div>
                    </td>
                </tr>
                </tbody>
                
              </table>
        </div>
    </div>

 