
    <!--Main Content-->
    <div class="mt-5">
        <h1 class="text-center">View Livraisons</h1>
        <div class="container">
            <!--Add livraison Button-->
            <div class="my-3">
                <a href="/bbb"><button type="button" class="btn btn-primary">Add livraison</button></a>
            </div>
            <table class="table border" >
                <thead>
                  <tr>
                   
                    <th scope="col">adresse</th>
                    <th scope="col">etat</th>
                    <th scope="col">deliveryTimeSlot</th>
                 
                  </tr>
                </thead>
                <tbody>
                 
                    <div *ngFor="let livraison of Livraisons">
                      <tr>
                    <td>{{livraison.adresse}}</td>
                    <td>{{livraison.etat}}</td>
                    <td>{{livraison.deliveryTimeSlot}}</td>
                  
                    <td>
                        <div class="d-inline mx-2">
                            <button class="btn btn-warning" (click)="updateLivraison(livraison.id)" type="button">Update</button>
                        </div>
                        <div class="d-inline">
                          <button class="btn btn-danger" (click)="deletelivraison(livraison.id)" type="button">Delete</button>
                        </div>
                    </td>
                  </div>
                </tbody>
                
              </table>
        </div>
    </div>

