<!-- <div class=" container-fluid">
							<div>
								<h1>Reclamation
								</h1>
							</div>
                            <div>

    <table class="table">
  <thead>
    <tr>

      <th>Date</th>
      <th>Description</th>
      <th>Etat</th>
      <th>Archived</th>
      <th style="text-align : center">Action</th>


    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reclamation of listReclamation">

      <td>{{ reclamation.dateReclamation }}</td>
      <td>{{ reclamation.textReclamation }}</td>
      <td>{{ reclamation.etatReclamation }}</td>
      <td>{{ reclamation.archived }}</td>

      <td>
        <button class="btn btn-danger" (click)="deleteReclamation(reclamation)">Supprimer</button>
 &nbsp; &nbsp;
        <button style="background-color: #2eca6a"
        class="btn-primary btn" *ngIf="reclamation.etatReclamation === 'Non Traitee'" (click)="openUpdateDialog(reclamation.idReclamation)" >
        edit </button>
        &nbsp; &nbsp;
        <button class="btn btn-primary" (click)="showDetails(reclamation.idReclamation)"   >Details</button></td>
      &nbsp; &nbsp;
      <button class="btn btn-primary" *ngIf="reclamation.etatReclamation === 'Non Traitee'" (click)="repondre(reclamation.idReclamation)"    >Répondre</button>



      <a [routerLink]="['reclamationDetails',reclamation.idReclamation]" [queryParams]="{'name':'test'}">Show Details</a>
      <a [routerLink]="['addReponse',reclamation.idReclamation]" [queryParams]="{'name':'hz'}" >Repondre</a>

    </tr>
  </tbody>
</table>
                            </div>
<div>
 <a routerLink="/AddReclamation" class="btn btn-primary">Ajouter une réclamation</a>
</div>
</div>
 -->

 <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Claiming List</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="reclamation-list.component.css">
</head>
<body>
	<section class="main-content">
		<div class="container">
			<h1>Claiming List</h1>
			<br>
			<br>

			<table class="table">
				<thead>
					<tr>
						<th>User</th>
						<th>Status</th>
						<th>Date</th>
						<th>Meal</th>
						<th>Description</th>
            <th>Archived</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
          <tr *ngFor="let reclamation of listReclamation">
							<td>
							<div class="user-info">
								<div class="user-info__basic">
									<h5 class="mb-0"></h5>
								</div>
							</div>
						</td>
						<td>
							<span class="btn btn-success">{{ reclamation.etatReclamation }}</span>
						</td>
						<td>
							<small>{{ reclamation.dateReclamation }}</small>
						</td>
						<td>
							<h6 class="mb-0"></h6>
						</td>
						<td>
							<h6 class="mb-0">{{ reclamation.textReclamation }}</h6>
						</td>
            <td>
							<h6 class="mb-0">{{ reclamation.archived }}</h6>
						</td>
            <td>
							<h6 class="mb-0">
                <button mat-icon-button [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                      <mat-icon class="delete-icon"
                          (click)="deleteReclamation(reclamation)">delete_forever</mat-icon>
                      <span>delete</span>
                  </button>
                  <a *ngIf="reclamation.etatReclamation === 'Non Traitee'" (click)="openUpdateDialog(reclamation.idReclamation)">
                      <button mat-menu-item>
                          <mat-icon class="edit-icon">edit</mat-icon>
                          <span>edit</span>
                      </button>
                  </a>

                  <a  (click)="showDetails(reclamation.idReclamation)" >
                      <button mat-menu-item>
                          <mat-icon class="show-icon">pageview</mat-icon>
                          <span>show</span>
                      </button>
                  </a>
              </mat-menu>
              </h6>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
