
<section class="hero">
  <div class="container">
      <div class="row">
          <div class="col-lg-3">
              <div class="hero__categories">
                  <div class="hero__categories__all">
                      <i class="fa fa-bars"></i>
                      <span>All departments</span>
                  </div>
                  <ul>
                      <li><a href="#">Fresh Meat</a></li>
                      <li><a href="#">Vegetables</a></li>
                      <li><a href="#">Fruit & Nut Gifts</a></li>
                      <li><a href="#">Fresh Berries</a></li>
                      <li><a href="#">Ocean Foods</a></li>
                      <li><a href="#">Butter & Eggs</a></li>
                      <li><a href="#">Fastfood</a></li>
                      <li><a href="#">Fresh Onion</a></li>
                      <li><a href="#">Papayaya & Crisps</a></li>
                      <li><a href="#">Oatmeal</a></li>
                      <li><a href="#">Fresh Bananas</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-9">
              <div class="hero__search">
                  <div class="hero__search__form">
                    <form >
                      <div class="form-group">
                      <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
                      <button type="submit" class="site-btn" >SEARCH</button>
                    </div>
                    </form>
                    </div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-1yV0YAwYefP7VuwP+i5gzzZdM5XB5IaH5XpXl8yRdiCtYnHqc7G3tBk8t2d0nmpMcGtB3dhtvT8TcT/zY/qYgg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div clas="head">
<div class="page-header" filter-color="orange">
  
  <div class="page-header-image" style="background-image:url(assets/img/login.jpg)"></div>
  <div class="container">
      <div class="col-md-4 content-center">
          <div class="card card-register card-plain">
              <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="form">
                <header class="head-form">
                </header>
                  <div class="header header-primary text-center">
                      <div class="logo-container">
                          <img src="assets/img/now-logo.png" alt="">
                      </div>
                  </div>
                  <div class="content">
                    <div class="input-group form-group-no-border input-lg" >
                      <div class="input-group-prepend">
                          <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
                      </div>
                        <input type="text" id="username" formControlName="username" class="form-control" placeholder="Username..."   >
                    </div>
                    <div class="input-group form-group-no-border input-lg" >
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                      </div>
                        <input type="password" id="password" formControlName="password" placeholder="Password..."  class="form-control"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="email" id="email" formControlName="email" placeholder="Email..."  class="form-control" />

                
                  </div>
                  
 <div class="form-group">

    <input type="text" id="phone" formControlName="phone" placeholder="PhoneNumber..."  class="form-control" />

    
  </div>

  <div class="form-group">
    
    <select id="role" formControlName="role" placeholder="Select Role..." class="form-control" required>
      <option value="user">User</option>
      <option value="admin">Admin</option>
      <option value="mod">Moderator</option>
      <option value="restaurant">Restaurant</option>
      <option value="fournisseur">Fournisseur</option>
    </select>
  </div>
                  <div class="footer text-center">
                    <button type="submit" class="btn btn-primary btn-round btn-lg btn-block"  (click)="onSubmit()" >Submit</button>
                  </div>
                  
              </form>
          </div>
      </div>
  </div>
  
</div>
</div>
