<!-- <div class="post-detail">
    <h2>{{ post.title }}</h2>
    <div class="post-content">
        <p>{{ post.content }}</p>
        <img [src]="postImageURL(post.imageData)" alt="{{ post.title }}" *ngIf="post.imageData">
    </div>
</div> -->


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="container">

    <div class="product-details">
        <h1>{{ post.title }}</h1>
    </div>

    <div class="product-image">
        <img [src]="postImageURL(post.imageData)" alt="{{ post.title }}" *ngIf="post.imageData">



        <div class="info">
            <h1 style="color: white;"> Content</h1>
            <ul>
                <li><strong>{{ post.content }}</strong></li>
                <!-- <li><strong>Shade : </strong>Olive green</li>
                <li><strong>Decoration: </strong>balls and bells</li>
                <li><strong>Material: </strong>Eco-Friendly</li> -->

            </ul>
        </div>
    </div>

</div>