<div class="create-post">
    <h3 class="mini-heading">Create Post</h3>
    <form (submit)="onSubmit()" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title" >Title:</label>
            <input type="text" id="title" name="title" placeholder="Give a title to your post!" [(ngModel)]="post.title" required />
        </div>
        <div class="form-group">
            <div class="comment-body"> Content :
                <textarea id="content" for="content" name="content" [(ngModel)]="post.content" required
                    placeholder="Write anything for before submit to post button"></textarea>
            </div>
        </div>
            <!-- <a href="#" for="image-upload" style="background: #ffebed">
                <i style="background: #ff4154" class="fa fa-camera"></i>
                Gallery</a>
                
            <a href="#" style="background: #fff4d1">
                <i style="background: #ffca28" class="fa fa-heart"></i>
                Feeling / Acrivity</a> -->

<div class="post-icon">
    <label for="image-upload" class="icon-container gallery">
        <i class="fa fa-camera"></i>Gallery
    </label><h5 >Upload an image to your post here ⬅️</h5>
        <input type="file" class="form-control-file" id="image" (change)="onFileSelected($event)" required>
    <input id="image-upload" type="file" accept="image/*" style="display:none"  (change)="onFileSelected($event)">
    <!-- <a href="#" class="icon-container feeling">
        <i class="fa fa-heart"></i>
        Feeling / Activity
    </a> -->
</div>


        <!-- <div class="form-group">
            <label for="image">Image</label>
            <input type="file" class="form-control-file" id="image" name="image" (change)="onFileSelected($event)">
        </div> -->
<button  >Add a new post!</button>

        <!-- <button type="submit">Add Post</button> -->
    </form>
</div>