<div class="container h-50">
  <div class="row justify-content-center align-items-center">
    <h5 *ngIf="!recette; else modidiferRecette">Ajouter une Recette</h5>
    <ng-template #modidiferRecette>
      <h5>Modifier la Recette</h5>
    </ng-template>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="blog__item__text">
      <form
        *ngIf="!recette; else updateForm"
        class="approval-form"
        [formGroup]="recetteForm"
        (ngSubmit)="onSubmit()"
      >
        <label>
          Titre :
          <input type="text" class="form-control" formControlName="nom" />
        </label>
        <div class="row justify-content-end align-items-end">
          <button class="btn btn-outline-primary" type="submit">Ajouter</button>
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="onCancel()"
          >
            Annuler
          </button>
        </div>
      </form>
      <ng-template #updateForm>
        <div class="approval-form">
          <label for="">
            Titre
            <input type="text" class="form-control" [(ngModel)]="recette.nom" />
          </label>
          <div class="row justify-content-center align-items-center">
            <button
              class="btn btn-outline-primary"
              type="submit"
              (click)="onUpdate()"
            >
              Modifier
            </button>
            <button
              class="btn btn-outline-secondary"
              type="button"
              (click)="onCancel()"
            >
              Annuler
            </button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
