<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Livraison</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    
    <!--Main Content-->
    <div class="my-5">
      <form>
        <div class="mx-auto w-25 " style="max-width:100%;">
          <h2 class="text-center mb-3">Add Livraison</h2>
          <div class="form-group">
            <!--Adresse-->
            <div class="row">
              <div class="col-md-12 form-group mb-3">
                <label for="adresse" class="form-label">adresse</label>
                <input id="adresse"  formControlName="adresse" type="text" name="adresse" class="form-control" placeholder="adresse" required>
              </div>
            </div>

            
            <!--EtatLivraison-->
            <div class="row">
              <div class="col-md-12 form-group mb-3">
                <label for="etat" class="form-label">Etat Livraison</label>
                <input id="etat" type="text" name="etat"  formControlName="etat" class="form-control" placeholder="Etat Livraison" required>
              </div>
            </div>
           
            <!--deliveryTimeSlot-->
            <div class="row">
              <div class="col-md-12 form-group mb-3">
                <label for="deliveryTimeSlot" class="form-label">deliveryTimeSlot</label>
                <textarea id="deliveryTimeSlot" type="text" name="deliveryTimeSlot"  formControlName="deliveryTimeSlot" class="form-control" placeholder="New Delhi, India" rows="3" required></textarea>
              </div>
            </div>
           
            <button type="submit" class="btn btn-primary">Ajouter</button>

            <div>
              
            </div>
          </div>
        </div>
      </form>
    </div>
</body>
</html>
